@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Arregla los siguintes errores")

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name, new { @class = "col-form-label col-form-label-sm mt-4", @for = "inputSmall" })
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control form-control-sm", @id = "inputSmall" })
        @Html.ValidationMessageFor(m => m.Customer.Name)

    </div>

    <div class="form-group ">
        @Html.LabelFor(m => m.Customer.MembershipTypeId, new { @class = "form-label mt-4", @for = "exampleSelect2" })
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-select", @id = "exampleSelect2" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>

    <div class="form-group">
        <label class="col-form-label col-form-label-sm mt-4" for="inputSmall">Cumpleaños (dd/mm/aaaa)</label>
        @Html.TextBoxFor(m => m.Customer.Birthday, "{0:d MMM yyyy}", new { @class = "form-control form-control-sm", @id = "inputSmall" })
        @Html.ValidationMessageFor(m => m.Customer.Birthday)
    </div>

    <div class="form-check chb-margdown">
        @Html.CheckBoxFor(m => m.Customer.IsiSubscribedToNewsletter, new { @class = "form-check-input", @id = "flexCheckDefault" })
        <label class="form-check-label" for="flexCheckDefault">
            Suscribed To Newsletter?
        </label>
    </div>

    @Html.HiddenFor(m => m.Customer.Id)

    <button type="submit" class="btn btn-primary">Guardar</button>

}   